@import "./variables";

.navbar__main {
  background: #2c7a44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $green,
    $yellow
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $green,
    $yellow
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
}

.collapseitem {
  color: #fff !important;
  background: #fff !important;
}

.navbar-btn:hover {
  color: #fff !important;
  background: $green !important;
}

.nav-titles {
  color: #000 !important;
}
.navbar-titles {
  font-size: smaller;
}
.drop-title {
  font-size: smaller !important;
}
/*
.logo__text:hover {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.075));
}
*/
